<div class="clock__wrapper d-flex align-items-center gap-3">
    <div class="clock__data d-flex align-items-center gap-3">
      <div class='text-center'>
        <h1 class='text-white fs-3 mb-2'>{{days}}</h1>
        <h5 class='text-white fs-6'>Days</h5>
      </div>
      <span class="text-white fs-1">:</span>
    </div>

    <div class="clock__data d-flex align-items-center gap-3">
      <div class='text-center'>
        <h1 class='text-white fs-3 mb-2'>{{hours}}</h1>
        <h5 class='text-white fs-6'>Hours</h5>
      </div>
      <span class="text-white fs-1">:</span>
    </div>

    <div class="clock__data d-flex align-items-center gap-3">
      <div class='text-center'>
        <h1 class='text-white fs-3 mb-2'>{{minutes}}</h1>
        <h5 class='text-white fs-6'>Minutes</h5>
      </div>
      <span class="text-white fs-1">:</span>
    </div>

    <div class="clock__data d-flex align-items-center gap-3">
      <div class='text-center'>
        <h1 class='text-white fs-3 mb-2'>{{seconds}}</h1>
        <h5 class='text-white fs-6'>Seconds</h5>
      </div>
    </div>
  </div>
